
{% extends 'base.html' %}

{% block title %} {{ user.get_full_name() }} {% endblock %}

{% block content %}

<div class="row justify-content-center">

  <div class="col-4 col-sm-4 col-md-4 col-lg-3">
    <img class="img-fluid mb-5" src="{{ user.image_url }}">
  </div>

  <div class="col-12 col-sm-10 col-md-8">
    <h1>{{ user.get_full_name() }}</h1>
    <p class="lead">{{ user.description }}</p>

    <p><b>Username:</b> {{ user.username }}</p>
    <p><b>Email:</b> {{ user.email }}</p>

    <p>
      <a class="btn btn-outline-primary" href="/profile/edit">
        Edit Your Profile
      </a>
    </p>

    {% if user.liked_cafes %}
    <h2 class="mt-5">Your Liked Cafes</h2>


    <ul>
      {% for cafe in user.liked_cafes %}
      <li>
        <a href="/cafes/{{ cafe.id }}">{{ cafe.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="mt-5">You have no liked cafes.</p>
    {% endif %}

  </div>

</div>

{% endblock %}